venv/Scripts/Activate.ps1

Proof of Work vs. Proof of Stake

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fields = ['country', 'points', 'price', 'variety']

df = pd.read_csv('wine_reviews.csv', usecols=fields)
df.dropna(inplace=True)

In [4]:
df

       country  points  price             variety
0           US      96  235.0  Cabernet Sauvignon
1        Spain      96  110.0       Tinta de Toro
2           US      96   90.0     Sauvignon Blanc
3           US      96   65.0          Pinot Noir
4       France      95   66.0  Provence red blend
...        ...     ...    ...                 ...
150925   Italy      91   20.0         White Blend
150926  France      91   27.0     Champagne Blend
150927   Italy      91   20.0         White Blend
150928  France      90   52.0     Champagne Blend
150929   Italy      90   15.0        Pinot Grigio

[137230 rows x 4 columns]